@use '../abstract/variaveis';
@use '../abstract/mixins';

.cabecalho{
    z-index: 1000000000;
    position: fixed;
    top: 0;
    left: 0;
    height: 4rem;
    width: 100%;
    padding: .5rem 1rem;
    @include mixins.flex-fd-jc-fw(row, space-between, wrap);
    align-items: center;
    background-color: transparent;
    transition: 1s;
    .logo{
        width: 45px;
        transition: .5s;
        border-radius: 50%;
        border: 1px solid variaveis.$branco;
        z-index: 999;
        position: relative;
        &:hover{
            width: 43px;
            box-shadow: 0px 0px 10px variaveis.$vermelho;
        }
    }
    .menu{  

        input{
            display: none;
        }        
        input:checked ~ .menu_navegacao{
            right: 0;
        
        }
        
        .menu_navegacao{
            background-color: variaveis.$vermelho;
            position: fixed;
            top: 0;
            width: 100vw;
            height: 100vh;
            transition: 1s;
            padding-top: 5rem;
            right: -120%;

            .menu_login{
                margin-bottom: 2rem;
                margin-left: 2rem;
                .icone_login{
                        display: none;
                }
                span{
                        transition: .4s;
                        cursor: pointer;
                        font-size: 1.1rem;
                        color: variaveis.$branco;
                        padding-bottom: 2rem;

                        &:hover{
                            color: variaveis.$preto;
                        }
                  }
                
            }
            .menu_lista{
                a{
                    color: variaveis.$branco;
                    display: block;
                    padding: 1rem;
                    margin-left: 1rem;
                    font-size: .9rem;
                }
            }
        }
        .mobile_bt{
            display: flex;
            flex-direction: column;
            z-index: 999;
            gap: 5px;
            position: relative;        
            
            .bt_barra{
                display: block;
                width: 20px;
                height: 2px;
                background-color: variaveis.$vermelho;
                transition: .4s;
            }
        }
        .ativa .bt_barra:nth-child(2){            
            background-color: variaveis.$branco;
            transition: .4s;
            transform: translateX(100px); 
            opacity: .3;           
        }
        .ativa .bt_barra:nth-child(1){            
            background-color: variaveis.$branco;
            transition: .7s;
            transform: translateY(5px) rotate(45deg);          
        }
        .ativa .bt_barra:nth-child(3){            
            background-color: variaveis.$branco;
            transition: .7s;
            transform: translateY(-9px) rotate(-45deg);          
        }
    }
}

.sticky{
    background-color: variaveis.$branco;
    box-shadow:0 4px 25px -15px rgba(88, 88, 88, 0.616);
}

@media screen and (min-width: 768px) {
    .cabecalho{
        justify-content: center;
        .menu{
            #bt-menu{
                display: none;
            }
            .menu_navegacao{
                padding: 0;
                position: initial;
                height: auto;
                width: auto;
                @include mixins.flex-fd-jc-fw(row-reverse, center, wrap);
                align-items: center;
                gap: 2rem;
                background-color: transparent;
                .menu_login{
                    display: flex;
                    margin: 0;
                    a{  
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        border: 1px solid variaveis.$cinza;
                        padding: .5rem;
                        border-radius: 20px;
                        transition: .5s;
                        span{
                            color: variaveis.$preto;
                            padding: 0%;
                            font-size: .8rem;
                        }
                    }
                    .icone_login{
                        display: block;
                        width: 15px;
                    }
                }
                .menu_lista{
                    display: flex;
                    a{
                        color: variaveis.$preto;
                    }
                }
            }
        }
    }
}