@use '../abstract/variaveis';
@use '../abstract/mixins';

.rodape{

    .wave-desktop{
        display: none;
    }
    .rodape_cols{
        padding-bottom: 14rem;
        margin-top: -5px;
        background-color: variaveis.$preto;
        padding-top: 4rem;
        width: 100%;
        @include mixins.flex-fd-jc-fw( column, justify-content, wrap);
        text-align: center;

        .rodape_lista li{
            a{
                padding: 1rem;
                display: block;
                color: variaveis.$branco;
                font-family: variaveis.$font-padrao;
                position: relative;
                cursor: pointer;
                
                &:hover{
                    color: variaveis.$vermelho;
                }
            }
        }
        .rodape_lista_item:last-child{
            @include mixins.flex-fd-jc-fw(row, center, wrap);
            gap: 1rem;
            a{  
                padding: 1.4rem;
                height: 25px;
                width: 25px;
                transition: .4s;
                &:hover{
                    transform: scale(1.2);
                }
            }

            .icons_social:nth-child(1){
                background-image: url('../../assets/icons/github-32.png');
                background-size: 26px;
                background-position: center;
                background-repeat: no-repeat;
            }
            .icons_social:nth-child(2){
                background-image: url('../../assets/icons/linkedin-32.png');
                background-size: 26px;
                background-position: center;
                background-repeat: no-repeat;
            }
            .icons_social:nth-child(3){
                background-image: url('../../assets/icons/instagram-32.png');
                background-size: 23px;
                background-position: center;
                background-repeat: no-repeat;
            } 
        } 
    } 
    .logo_rodape{ 
        width: 120px; 
    } 
    .mao-lata{
        position: absolute;
        right: -100%;
        bottom: 0;
    }
    .ativa{
        animation: maozinha 4s;
    }
    @keyframes maozinha {
        0%{
            right: -100%; 
        }
        50%{
            right: 0;
        }
        100%{
            right: -100%;
        }
    }
} 

@media screen and (min-width: 768px) {

    .rodape{
        .wave-mobile{
            display: none;
        }
        .wave-desktop{
            display: block;
        }
    }
}