@use '../abstract/variaveis';
@use '../abstract/mixins';

.garrafa-virtual{
    background-color: variaveis.$verde;
    width: 100%;

    div{
        @include mixins.flex-fd-jc-fw(column, normal, wrap);
        gap: 1rem;
        @include mixins.container();
        padding: 3rem 0;
        align-items: center;
        h2{
            @include mixins.titulo();
            color: variaveis.$vermelho;
            font-size: 1.5rem;
        }
        p{
            @include mixins.subtitulo-cl(variaveis.$preto);
        }
        a{
            @include mixins.botao();
        }
    }
    img{
        width: 100%;
        padding: 0 2rem;
    }
}

@media screen and (min-width: 768px) {
    .garrafa-virtual{
        @include mixins.flex-fd-jc-fw(row, normal, nowrap);
        padding: 5rem 0;
        div{
            @include mixins.flex-fd-jc-fw(column, center, nowrap);
            @include mixins.container-mobile();
            align-items: start;

            h2{
                font-size: 3rem;
            }

            p{
                font-size: 1.2rem;
                text-align: start;
            }
        }
        img{
            padding-right:13%;
            width: 50%;
            object-fit: contain;
        }
    }
}