@use '../abstract/variaveis';
@use '../abstract/mixins';

.ofertas{
    background-color: variaveis.$cinza-claro;

    div{
        @include mixins.container();
        @include mixins.flex-fd-jc-fw(column, normal, wrap);
        align-items: center;
        gap: 1.2rem;
        padding: 3rem 0;
        h3{
            @include mixins.titulo();
        }
        h4{
            @include mixins.subtitulo-cl(variaveis.$preto);
            line-height: 2rem;
        }
        a{
            @include mixins.botao();
        }
    }
}

@media screen and (min-width: 768px){
    .ofertas{
        div{
            h3{
                font-size: 3rem;
            }
            h4{
                font-size: 1.3rem;
                max-width: 400px;
            }
        }
    }
}