@use './variaveis';

@mixin container(){
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
@mixin titulo(){
    font-family: variaveis.$font-titulos;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@mixin flex-fd-jc-fw( $direcao, $alinhamento, $flexwrap){
    display: flex;
    flex-direction: $direcao;
    justify-content: $alinhamento;
    flex-wrap: $flexwrap;
}

@mixin subtitulo-cl($cor){
    font-size: 1rem;
    font-weight: 600;
    color: $cor;
    line-height: 1.4rem;
    text-align: center;
}

@mixin botao(){
    border: 1px solid variaveis.$preto;
    padding: .7rem 1rem;
    border-radius: 25px;
    background-color: variaveis.$preto;
    color: white;
    transition: .4s;
    cursor: pointer;
}

@mixin container-mobile(){
    gap: 1.5rem;
    width: 50%;
    padding-left: 13%;
    padding-right: 5%;
}