//variaveis
    //cores
    $verde : #8cd5ae;
    $vermelho : #db3534;
    $preto-fosco: #201e1e;
    $branco: #ffff;
    $preto: #000;
    $cinza-claro: #f1f1f1;

    //fonts
    $font-titulos: 'poppins', sans-serif;
    $font-padrao: "Montserrat", sans-serif;