* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.cabecalho {
  height: 4rem;
  width: 100%;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cabecalho .logo {
  width: 45px;
  transition: 0.5s;
  border-radius: 50%;
  border: 1px solid white;
  z-index: 999;
  position: absolute;
  top: 10px;
  left: 25px;
}
.cabecalho .logo:hover {
  width: 43px;
  box-shadow: 0px 0px 10px #db3534;
}
.cabecalho .menu input {
  display: none;
}
.cabecalho .menu input:checked ~ .menu_navegacao {
  right: 0;
}
.cabecalho .menu .menu_navegacao {
  position: fixed;
  top: 0;
  background-color: #db3534;
  width: 100vw;
  height: 100vh;
  transition: 1s;
  padding-top: 5rem;
  right: -120%;
}
.cabecalho .menu .menu_navegacao .menu_login {
  margin-bottom: 2rem;
  margin-left: 2rem;
}
.cabecalho .menu .menu_navegacao .menu_login .icone_login {
  display: none;
}
.cabecalho .menu .menu_navegacao .menu_login span {
  transition: 0.4s;
  cursor: pointer;
  font-size: 1.1rem;
  color: white;
  padding-bottom: 2rem;
}
.cabecalho .menu .menu_navegacao .menu_login span:hover {
  color: #000;
}
.cabecalho .menu .menu_navegacao .menu_lista a {
  color: white;
  display: block;
  padding: 1rem;
  margin-left: 1rem;
  font-size: 0.9rem;
}
.cabecalho .menu .mobile_bt {
  display: flex;
  flex-direction: column;
  z-index: 999;
  gap: 5px;
  position: fixed;
  top: 25px;
  right: 20px;
}
.cabecalho .menu .mobile_bt .bt_barra {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #000;
  transition: 0.4s;
}
.cabecalho .menu .ativa .bt_barra:nth-child(2) {
  background-color: white;
  transition: 0.4s;
  transform: translateX(100px);
  opacity: 0.3;
}
.cabecalho .menu .ativa .bt_barra:nth-child(1) {
  background-color: white;
  transition: 0.7s;
  transform: translateY(10px) rotate(45deg);
}
.cabecalho .menu .ativa .bt_barra:nth-child(3) {
  background-color: white;
  transition: 0.7s;
  transform: translateY(-6px) rotate(-45deg);
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .cabecalho {
    justify-content: center;
  }
  .cabecalho .menu #bt-menu {
    display: none;
  }
  .cabecalho .menu .menu_navegacao {
    padding: 0;
    position: initial;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    background-color: white;
  }
  .cabecalho .menu .menu_navegacao .menu_login {
    display: flex;
    margin: 0;
  }
  .cabecalho .menu .menu_navegacao .menu_login a {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid #dcdcdc;
    padding: 0.5rem;
    border-radius: 20px;
    transition: 0.5s;
  }
  .cabecalho .menu .menu_navegacao .menu_login a span {
    color: #000;
    padding: 0%;
    font-size: 0.8rem;
  }
  .cabecalho .menu .menu_navegacao .menu_login .icone_login {
    display: block;
    width: 15px;
  }
  .cabecalho .menu .menu_navegacao .menu_lista {
    display: flex;
  }
  .cabecalho .menu .menu_navegacao .menu_lista a {
    color: #000;
  }
}
.slider {
  display: none;
}

.home {
  display: flex;
  flex-direction: column-reverse;
  justify-content: normal;
  flex-wrap: wrap;
  width: 100vw;
}
.home div img {
  max-width: 100%;
}
.home_img {
  background: rgb(253, 29, 29);
  background: linear-gradient(90deg, rgb(253, 29, 29) 13%, rgb(252, 176, 69) 100%);
}
.home_propaganda {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem 1rem;
  align-items: start;
}
.home_propaganda a {
  border: 1px solid #000;
  padding: 0.7rem 1rem;
  border-radius: 25px;
  background-color: #000;
  color: white;
  transition: 0.4s;
  cursor: pointer;
}
.home_propaganda a:hover {
  background-color: #db3534;
  border: none;
}
.home_propaganda span {
  font-size: 0.7rem;
}

@media screen and (min-width: 768px) {
  .home {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    flex-wrap: nowrap;
    align-items: center;
  }
  .home_propaganda {
    gap: 1.5rem;
    width: 50%;
    padding-left: 13%;
    padding-right: 5%;
  }
  .home_propaganda p {
    max-width: 450px;
  }
  .home_img {
    width: 50%;
  }
}
.ofertas {
  background-color: #f1f1f1;
}
.ofertas div {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.2rem;
  padding: 3rem 0;
}
.ofertas div h3 {
  font-family: "poppins", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.ofertas div h4 {
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  line-height: 1.4rem;
  text-align: center;
  line-height: 2rem;
}
.ofertas div a {
  border: 1px solid #000;
  padding: 0.7rem 1rem;
  border-radius: 25px;
  background-color: #000;
  color: white;
  transition: 0.4s;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .ofertas div h3 {
    font-size: 3rem;
  }
  .ofertas div h4 {
    font-size: 1.3rem;
    max-width: 400px;
  }
}
.propaganda {
  background-color: #000;
  color: white;
  width: 100%;
}
.propaganda div {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  flex-wrap: wrap;
  gap: 1.5rem;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
  align-items: start;
}
.propaganda div h2 {
  font-size: 1rem;
  font-weight: 600;
  color: #db3534;
  line-height: 1.4rem;
  text-align: center;
  text-align: start;
  letter-spacing: 0.4rem;
}
.propaganda div h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.4rem;
}
.propaganda div a {
  border: 1px solid #000;
  padding: 0.7rem 1rem;
  border-radius: 25px;
  background-color: #000;
  color: white;
  transition: 0.4s;
  cursor: pointer;
  border: 1px solid white;
}
.propaganda img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .propaganda {
    padding-top: 4rem;
    text-align: center;
  }
  .propaganda div {
    align-items: center;
  }
  .propaganda div h3 {
    font-size: 3rem;
    line-height: 4rem;
  }
  .propaganda img {
    max-width: 500px;
    margin-bottom: -3px;
  }
}
.promocao {
  display: flex;
  flex-direction: column-reverse;
  justify-content: normal;
  flex-wrap: nowrap;
}
.promocao div {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  gap: 1rem;
  align-items: start;
  padding: 3rem 0;
}
.promocao div h2 {
  font-size: 1rem;
  font-weight: 600;
  color: #db3534;
  line-height: 1.4rem;
  text-align: center;
  text-align: start;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}
.promocao div h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.4rem;
}
.promocao div a {
  border: 1px solid #000;
  padding: 0.7rem 1rem;
  border-radius: 25px;
  background-color: #000;
  color: white;
  transition: 0.4s;
  cursor: pointer;
  border: 1px solid white;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .promocao {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    flex-wrap: nowrap;
    align-items: center;
  }
  .promocao div {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    width: 50%;
    gap: 1.5rem;
    width: 50%;
    padding-left: 13%;
    padding-right: 5%;
  }
  .promocao div h3 {
    max-width: 450px;
  }
  .promocao div a {
    margin-top: 0;
  }
  .promocao img {
    width: 50%;
  }
}
.garrafa-virtual {
  background-color: #8cd5ae;
  width: 100%;
}
.garrafa-virtual div {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
  align-items: center;
}
.garrafa-virtual div h2 {
  font-family: "poppins", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #db3534;
  font-size: 1.5rem;
}
.garrafa-virtual div p {
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  line-height: 1.4rem;
  text-align: center;
}
.garrafa-virtual div a {
  border: 1px solid #000;
  padding: 0.7rem 1rem;
  border-radius: 25px;
  background-color: #000;
  color: white;
  transition: 0.4s;
  cursor: pointer;
}
.garrafa-virtual img {
  width: 100%;
  padding: 0 2rem;
}

@media screen and (min-width: 768px) {
  .garrafa-virtual {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    flex-wrap: nowrap;
    padding: 5rem 0;
  }
  .garrafa-virtual div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 1.5rem;
    width: 50%;
    padding-left: 13%;
    padding-right: 5%;
    align-items: start;
  }
  .garrafa-virtual div h2 {
    font-size: 3rem;
  }
  .garrafa-virtual div p {
    font-size: 1.2rem;
    text-align: start;
  }
  .garrafa-virtual img {
    padding-right: 13%;
    width: 50%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.cadastro {
  display: flex;
  flex-direction: column-reverse;
  justify-content: normal;
  flex-wrap: wrap;
  width: 100%;
  background-color: #db3534;
}
.cadastro img {
  width: 100%;
}
.cadastro div {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: end;
  color: white;
  padding: 3rem 0;
}
.cadastro div h3 {
  font-size: 1.4rem;
}
.cadastro div a {
  border: 1px solid #000;
  padding: 0.7rem 1rem;
  border-radius: 25px;
  background-color: #000;
  color: white;
  transition: 0.4s;
  cursor: pointer;
  background-color: white;
  color: #000;
  border: none;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .cadastro {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    flex-wrap: nowrap;
    margin-bottom: -20%;
  }
  .cadastro div {
    gap: 1.5rem;
    width: 50%;
    padding-left: 13%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: start;
  }
  .cadastro img {
    width: 50%;
  }
}
.rodape .wave-desktop {
  display: none;
}
.rodape .rodape_cols {
  padding-bottom: 14rem;
  margin-top: -5px;
  background-color: #000;
  padding-top: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: justify-content;
  flex-wrap: wrap;
  text-align: center;
}
.rodape .rodape_cols .rodape_lista li a {
  padding: 1rem;
  display: block;
  color: white;
  font-family: "Montserrat", sans-serif;
  position: relative;
  cursor: pointer;
}
.rodape .rodape_cols .rodape_lista li a:hover {
  color: #db3534;
}
.rodape .rodape_cols .rodape_lista_item:last-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.rodape .rodape_cols .rodape_lista_item:last-child a {
  padding: 1.4rem;
  height: 25px;
  width: 25px;
  transition: 0.4s;
}
.rodape .rodape_cols .rodape_lista_item:last-child a:hover {
  transform: scale(1.2);
}
.rodape .rodape_cols .rodape_lista_item:last-child .icons_social:nth-child(1) {
  background-image: url("../../assets/icons/github-32.png");
  background-size: 26px;
  background-position: center;
  background-repeat: no-repeat;
}
.rodape .rodape_cols .rodape_lista_item:last-child .icons_social:nth-child(2) {
  background-image: url("../../assets/icons/linkedin-32.png");
  background-size: 26px;
  background-position: center;
  background-repeat: no-repeat;
}
.rodape .rodape_cols .rodape_lista_item:last-child .icons_social:nth-child(3) {
  background-image: url("../../assets/icons/instagram-32.png");
  background-size: 23px;
  background-position: center;
  background-repeat: no-repeat;
}
.rodape .logo_rodape {
  width: 120px;
}
.rodape .mao-lata {
  position: absolute;
  right: -100%;
  bottom: 0;
}
.rodape .ativa {
  animation: maozinha 4s;
}
@keyframes maozinha {
  0% {
    right: -100%;
  }
  50% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}

@media screen and (min-width: 768px) {
  .rodape .wave-mobile {
    display: none;
  }
  .rodape .wave-desktop {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */